.login-page-container {
  display: flex;
  flex-direction: row;
  height: 100vh; // Занять всю высоту экрана

  .login-section {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    // Отступы по желанию
    padding: 2rem;
  }

  .image-section {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // чтобы не было полосы прокрутки, если картинка больше контейнера

    img {
      width: 100%;
      height: auto;
      object-fit: cover; // чтобы картинка масштабировалась по контейнеру (если требуется)
    }
  }
}

@media (max-width: 768px) {
  .login-page-container {
    flex-direction: column;
  }

  .login-section {
    width: 100% !important;
  }

  .image-section {
    display: none !important;
  }
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem; // пример отступа
}

.login-alert {
  margin-bottom: 16px;
}
