.login-container {
  width: 100%;
  max-width: 400px; /* чтобы форма не растягивалась на весь экран */
  margin: 0 auto; /* центрируем по горизонтали */
  padding: 2rem 1rem;
  text-align: center;
  box-sizing: border-box;

  .logo {
    font-size: 2rem;
    margin-bottom: 10px;
    span {
      font-weight: 400; // например, меньшая толщина
    }
  }

  .welcome-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .welcome-subtitle {
    margin-bottom: 2rem;
    color: #555;
    line-height: 1.4;
  }

  .login-form {
    text-align: left;
    .ant-form-item {
      margin-bottom: 1rem;
    }
  }

  .error-text {
    color: red;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer-text {
    margin-top: 2rem;
    color: #555;
    line-height: 1.4;
  }
}
